@{
    ViewBag.Title = "Yeni Öne Çıkanlar";
    Layout = "_AdminLayout";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Yeni Öne Çıkanlar Oluştur</h4>
        <div class="row">
            <div class="col-md">
                <form asp-action="Create" asp-controller="Highlight" asp-area="Admin" method="post">
                    <div class="card">
                        <div class="card-body">
                           <div class="form-group">
                                <label for="title1">Başlık 1</label>
                                <input type="text" class="form-control" id="title1" name="title1" placeholder="Başlık 1 giriniz" />
                            </div>
                            <div class="form-group">
                                <label for="description1">Açıklama 1</label>
                                <textarea class="form-control" rows="5" id="description1" name="description1" placeholder="Açıklama 1 giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title2">Başlık 2</label>
                                <input type="text" class="form-control" id="title2" name="title2" placeholder="Başlık 2 giriniz" />
                            </div>
                            <div class="form-group">
                                <label for="description2">Açıklama 2</label>
                                <textarea class="form-control" rows="5" id="description2" name="description2" placeholder="Açıklama 2 giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title3">Başlık 3</label>
                                <input type="text" class="form-control" id="title3" name="title3" placeholder="Başlık 3 giriniz" />
                            </div>
                            <div class="form-group">
                                <label for="description3">Açıklama 3</label>
                                <textarea class="form-control" rows="5" id="description3" name="description3" placeholder="Açıklama 3 giriniz"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                            <button type="reset" class="btn btn-danger">İptal et</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>